@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
  font-family: "Inter", sans-serif;
}


.subtitle{
  @apply text-red uppercase tracking-wide font-semibold text-lg;
  
}

.title{
  @apply  text-4xl md:text-5xl md:leading-snug font-bold my-2;
}

.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4
}
.special-dishes-container {
  margin-top: 80px; /* Adjust this value to match the height of your navbar */
}


.heartStar{
  border-radius: 0px 28px 0px 28px;
  
}